<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person456.ldg.dao.BoardMapper">
    <select id="count" resultType="int">
        select count(*) from board
    </select>
    <select id="selectAll" resultType="BoardDto">
        select bno,title,content,writer,view_cnt,comment_cnt,reg_date
        from board
        order by reg_date desc, bno desc
    </select>
    <select id="select" parameterType="int" resultType="BoardDto">
        select * from board
        where bno = #{bno}
    </select>
    <select id="selectPage" parameterType="map" resultType="BoardDto">
        select * from board
        order by reg_date desc, bno desc
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="selectSearchPage" parameterType="SearchPage" resultType="BoardDto">
        select * from board
        where true
          <choose>
              <when test='option=="T"'>
                  and title like concat('%', #{keyword} ,'%')
              </when>
              <when test='option=="W"'>
                  and writer like concat('%', #{keyword}, '%')
              </when>
              <otherwise>
                  and (title like concat('%', #{keyword}, '%')
                      or content like concat('%', #{keyword}, '%'))
              </otherwise>
          </choose>
        and title like concat('%', #{keyword}, '%')
        order by reg_date desc, bno desc
        LIMIT #{offset}, #{pageSize}
    </select>
    <select id="selectResultCnt" parameterType="SearchPage" resultType="int">
        select count(*) from board
        where true
        <choose>
            <when test='option=="T"'>
                and title like concat('%', #{keyword} ,'%')
            </when>
            <when test='option=="W"'>
                and writer like concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                and (title like concat('%', #{keyword}, '%')
                or content like concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
        and title like concat('%', #{keyword}, '%')
    </select>
    <delete id="deleteAll">
        delete all from board
    </delete>
    <delete id="delete" parameterType="map">
        delete from board where bno = #{bno} and writer = #{writer}
    </delete>
    <insert id="insert" parameterType="BoardDto">
        insert into board(title, content, writer)
        values(#{title}, #{content}, #{writer})
    </insert>
    <insert id="insertAll" parameterType="BoardDto">
        insert into board(bno, title, content, writer, view_cnt, comment_cnt, reg_date, up_date)
        values(#{bno}, #{title}, #{content}, #{writer}, #{view_cnt}, #{comment_cnt}, #{reg_date}, #{up_date})
    </insert>
    <update id="update" parameterType="BoardDto">
        update board
        set title=#{title}, content=#{content} , up_date= now()
        where bno=#{bno}
    </update>
    <update id="increaseViewCnt" parameterType="BoardDto">
        update board
        set view_cnt = view_cnt + 1
        where bno=#{bno}
    </update>
</mapper>