<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person456.ldg.dao.Color_InfoMapper">
    <select id="count">
        select count(*) from color_info
    </select>
    <select id="select" parameterType="String" resultType="Color_InfoDto">
        select * from color_info
        where sid=#{sid}
    </select>
    <insert id="insert" parameterType="Color_InfoDto">
        insert into color_info(sid, sno, cell_color)
        values(#{sid}, #{sno}, #{cell_color})
    </insert>
</mapper>