<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person456.ldg.dao.Schedule_InfoMapper">
    <select id="count" parameterType="String" resultType="int">
        select count(*) from schedule_info
        where sid=#{sid}
    </select>
    <select id="initial" parameterType="map" resultType="String">
        select schedule_name from schedule_info
        where sid=#{sid} and schedule_semester = #{schedule_semester}
    </select>
    <select id="selectScheduleName" parameterType="map" resultType="String">
        select schedule_name from schedule_info
        where sid=#{sid} and schedule_semester = #{schedule_semester}
    </select>
    <select id="initialSecond" parameterType="map" resultType="String">
        select schedule_name from schedule_info
        where sid=#{sid} and schedule_name=#{schedule_name}
    </select>
    <select id="first" resultType="int">
        select schedule_set from schedule_info
        where schedule_name = #{schedule_name}
    </select>
    <select id="second" parameterType="map" resultType="int">
        select schedule_set from schedule_info
        where schedule_name = #{schedule_name} and sid=#{sid}
    </select>
    <select id="secondSemester" parameterType="map" resultType="int">
        select schedule_set from schedule_info
        where schedule_name =#{schedule_name} and sid=#{sid} and schedule_semester = #{schedule_semester}
    </select>
    <select id="schedule_setArr" parameterType="map" resultType="int">
        select schedule_set from schedule_info
        where sid=#{sid} and schedule_semester = #{schedule_semester}
    </select>
    <insert id="addNewSchedule" parameterType="Schedule_InfoDto">
        insert into schedule_info(schedule_set, schedule_name, sid, schedule_semester)
        values(#{schedule_set}, #{schedule_name}, #{sid}, #{schedule_semester})
    </insert>
    <insert id="addNewSchedule2" parameterType="Schedule_InfoDto">
        insert into schedule_info(schedule_set, schedule_name, sid, schedule_semester)
        values(#{schedule_set}, #{schedule_name}, #{sid}, #{schedule_semester})
    </insert>
    <update id="update" parameterType="map">
        update schedule_info set schedule_name = #{schedule_name}
        where sid=#{sid} and schedule_name=#{old_schedule_name} and schedule_semester=#{schedule_semester}
    </update>
    <delete id="delete" parameterType="map">
        delete from schedule_info
        where sid=#{sid} and schedule_name=#{schedule_name}
    </delete>
</mapper>