<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person456.ldg.dao.Schedule_InfoMapper">
    <select id="count" parameterType="String">
        select count(*) from schedule_info
        where sid=#{sid}
    </select>
    <select id="initial" resultType="String">
        select schedule_name from schedule_info
        where sid=#{sid}
    </select>
    <select id="initialSecond" parameterType="map" resultType="String">
        select schedule_name from schedule_info
        where sid=#{sid} and schedule_name=#{schedule_name}
    </select>
    <select id="first" resultType="int">
        select schedule_set from schedule_info
        where schedule_name = #{schedule_name}
    </select>
    <select id="second" parameterType="map" resultType="int">
        select schedule_set from schedule_info
        where schedule_name = #{schedule_name} and sid=#{sid}
    </select>
    <select id="schedule_setArr" resultType="int">
        select schedule_set from schedule_info
        where sid=#{sid}
    </select>
    <insert id="addNewSchedule" parameterType="Schedule_InfoDto">
        insert into schedule_info(schedule_set, schedule_name, sid)
        values(#{schedule_set}, #{schedule_name}, #{sid})
    </insert>
</mapper>