<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person456.ldg.dao.ScheduleMapper">
    <select id="count" parameterType="String">
        select count(*) from schedule
        where sid=#{sid}
    </select>
    <select id="selectOneSchedule" parameterType="String" resultType="ScheduleDto">
        select * from schedule
        where sid=#{sid}
    </select>
    <select id="selectLoadSchedule" parameterType="Map" resultType="ScheduleDto">
        select * from schedule
        where sid=#{sid} and schedule_set = #{schedule_set}
    </select>
    <select id="selectSno" parameterType="ScheduleDto" resultType="int">
        select sno from schedule
        where subject_name=#{subject_name} and major=#{major} and credit=#{credit} and subject_first_day=#{subject_first_day}
        and subject_first_hour=#{subject_first_hour} and subject_second_day=#{subject_second_day}
        and subject_second_hour=#{subject_second_hour} and place=#{place} and subject_third_day=#{subject_third_day} and subject_third_hour=#{subject_third_hour}
        and subject_fourth_day=#{subject_fourth_day} and subject_fourth_hour = #{subject_fourth_hour} and schedule_set = #{schedule_set}
    </select>
    <select id="selectMajor" resultType="String">
        select major from schedule
        where schedule_set = #{schedule_set} order by sno asc
    </select>
    <select id="selectCredit" resultType="int">
        select credit from schedule
        where schedule_set = #{schedule_set} order by sno asc
    </select>
    <insert id="insert" parameterType="ScheduleDto">
        insert into schedule(sid, subject_name, major, credit, subject_first_day, subject_first_hour, subject_second_day, subject_second_hour, place, subject_third_day, subject_third_hour, subject_fourth_day, subject_fourth_hour, schedule_set)
        values(#{sid}, #{subject_name}, #{major}, #{credit}, #{subject_first_day}, #{subject_first_hour}, #{subject_second_day}, #{subject_second_hour}, #{place},#{subject_third_day},#{subject_third_hour},#{subject_fourth_day},#{subject_fourth_hour}, #{schedule_set})
    </insert>
    <delete id="deleteAll" parameterType="int">
        delete from schedule where sno=#{sno}
    </delete>
    <delete id="delete" parameterType="map">
        delete from schedule where sno=#{sno} and sid=#{sid}
    </delete>
</mapper>